*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
 
}

:root{
    --color-primary: #c69963;
    --color-secondary: #101d2c;
}

html {
     font-size: 62.5%; /**1 rem = 9px, 10/16 = 62.5*/
    line-height: 1.2;
    font-weight: 400;

}

@media screen and (max-width:1200px) {
    html {
        font-size: 56.25%; /**1 rem = 9px, 9/16 = 56.25*/

    }

}

@media screen and (max-width:900px) {
    html {
         font-size: 50%; /**1 rem = 8px, 8/16 = 50*/


    }

}

h1 {
	color: white;
	text-transform: capitalize;
	backface-visibility: hidden;
    display: block;
    font-size: 6.2rem;
    font-weight: bolder;

}

@media screen and (max-width: 900px) {
    h1 {
			font-family: 5rem;
		}
}

h2 {
	font-size: 5rem;
	text-transform: capitalize;
	font-weight: 700;
	display: inline-block; 
	color: var(--color-primary);

}


h3 {
	font-size: 1.7rem;
    font-weight: bolder;
	text-transform: capitalize;
}

  p {
	font-size: 1.6rem;

}

@media screen and (max-width: 600px) {
  
}